# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hardhat / build
artifacts/
cache/
deployed.json

# Env
.env

# OS
.DS_Store

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Python (you have venv)
venv/
